a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
    color: blueviolet;
    width: 50px;
    height: 30px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
}