*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "box1 box1 box2"
                          "box3 box3 box2"  ;
    height: 100vh;
    gap: 5px;
}
.box{
    padding: 20px;
}
.box1{
    grid-area: box1;
    background-color: lightgreen;
    text-align: center;
}
.box2{
    grid-area: box2;
    background-color: lightcoral;
    text-align: center;
}
.box3{
    grid-area: box3;
    background-color: lightseagreen;
    text-align: center;
}

