.parent{
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin-top:100px  ;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.child{
    width: 200px;
    height: 200px;
    background-color: rgb(55, 0, 255);
}