.box1{
    height: 300px;
    width: 300px;
    background-color: blue;
    
}
.box2{
    height: 300px;
    width: 300px;
    background-color: red;
    position: relative;
    left: 100px;
    top: 100px;
}
.box3{
    height: 300px;
    width: 300px;
    background-color:blueviolet;
   
}